
#jumbo {
    color:white;
    background-image: linear-gradient(to top,#e2954d 25% ,#D07118 40%);
    text-shadow: 2px 2px 2px black;
    margin: 0px auto 5px auto;
}

#head1 {
    font-family: helvetica;

}
#title1 {
    font-size: 5rem;
    padding: 2px auto;
    /*text-shadow: 2px 2px grey 4px 4px 4px black;*/
}

#map {
  height: 40rem;
  width: 100%;
  margin: 5px auto 10px 2rem;
  border: 2px solid black;
}

#mainbody {
    height: 50rem;
    border: 2px solid black;
    background: yellow;
    margin: 5px auto 10px 0px;
    width: 100%;
}

.row1 {
    background: yellow;
    height: 15rem;
}

#label1 {
    font-family: helvetica;
    font-size: 1.5rem;
}

input {
  text-align: center;
  margin: 2px auto;
}

footer {
  padding: 10px;
  font-size: 0.75rem;
}

ul {
  list-style: none;
}

h3 {
  font-weight: bold;
  text-align: center;
}
